@import '../../assets/styles/_config.scss'; 

.content {
    overflow-y: auto;
    scrollbar-color: $color-neutral-light $color-neutral-lighter;
  }
  
  .content::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  .content::-webkit-scrollbar-thumb {
    background: $color-neutral-darkest;
  }
  
  .content::-webkit-scrollbar-track {
    background: $color-neutral-lightest;
  }
  