@import '../../assets/styles/_config.scss';

.item_data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }
  
  .item {
    color: $color-neutral-dark;
    border-bottom: 1px solid $color-neutral-lightest;
  }
  
  .item_totalPrice, .item_charge, .item_price, .item_chargeTime {
    text-align: right;
  } 
  
  .item_operator, .item_totalPrice {
    color: $color-neutral-lighter;
    font-weight: bold;
  }
  