$color-primary: #47FB2A;
$color-secondary: rgb(255, 3, 3);
$color-neutral-darkest: #414046;
$color-neutral-darker: #696963;
$color-neutral-dark: #7A926F;
$color-neutral: #afaf9f;
$color-neutral-light: #4551ff;
$color-neutral-lighter: #ca861f;
$color-neutral-lightest: #C4C4C0;

// Muut määrittelyt
$container-padding: 1.5rem;
