$color-primary: #47FB2A;
$color-secondary: #D9FCB7;
$color-neutral-darkest: #ca861f;
$color-neutral-darker: #7A926F;
$color-neutral-dark: #696963;
$color-neutral: #888881;
$color-neutral-light: #4551ff;
$color-neutral-lighter: #C4C4C0;
$color-neutral-lightest: #414046;